.jumbotron {
  padding-top: 50px;
  background-color: #65c18c;
  padding-bottom: 50px;
}

.col {
  float: none;
}

body {
  min-height: 700px;
  background-color: #f3f4f5;
}

footer {
  background-color: #65c18c;
  height: 100px;
}

.d-grid {
  background-color: #f3f4f5;
}

.row {
  margin: 10px 50px;
}
